
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# personal files
sandbox/
my_ignore/
design_engineering.md

# pkgdown files
docs

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/


# Temporary files created by R markdown
*.utf8.md
*.knit.md

# knitr outputs
*.pdf
*.html
*.docx

# MAC files
.DS_Store
inst/doc

# Python Virt Env
venv/
